In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv("../data/ipl_data.csv")
df.head(5)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [17]:
df[40:50]

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
40,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,AA Noffke,64,1,6.3,47,1,43,1,222
41,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,AA Noffke,66,1,6.4,45,1,43,3,222
42,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,AA Noffke,67,1,6.5,46,1,43,4,222
43,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,AA Noffke,68,1,6.6,47,1,44,4,222
44,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,68,1,7.1,47,1,44,4,222
45,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,69,1,7.2,47,1,45,4,222
46,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,70,1,7.3,44,1,45,5,222
47,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,71,1,7.4,44,1,46,5,222
48,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,72,1,7.5,45,1,46,6,222
49,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,73,1,7.6,41,1,47,6,222

In [8]:
df.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [11]:
df['non-striker'].unique()

array([  0,   4,   5,   9,  10,   1,   3,   6,   7,   8,  13,  19,  20,
         2,  11,  12,  14,  15,  21,  25,  31,  32,  26,  30,  16,  17,
        18,  27,  35,  36,  37,  41,  47,  48,  50,  51,  53,  22,  24,
        29,  33,  23,  28,  42,  46,  34,  43,  49,  45,  39,  44,  52,
        38,  54,  55,  40,  56,  58,  59,  60,  61,  62,  66,  67,  68,
        72,  73,  74,  75,  76,  78,  79,  63,  57,  64,  65,  69,  71,
        81,  82,  70,  80,  87,  93,  95,  97, 103, 109], dtype=int64)

In [18]:
drop_columns = ['mid', 'date', 'striker', 'non-striker']
df1 = df.drop(drop_columns, axis=1)
df1.head()

,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,222
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,222
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,222
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,222
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,222

In [19]:
df1.isnull().sum()

venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
total             0
dtype: int64

In [20]:
categorical_columns = ['venue', 'bat_team', 'bowl_team', 'batsman', 'bowler']
numerical_columns = ['runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5']

for i in categorical_columns:
    print(f'\n\n column : {i}\n')
    print(df[i].unique())

 column : venue

['M Chinnaswamy Stadium' 'Punjab Cricket Association Stadium, Mohali'
 'Feroz Shah Kotla' 'Wankhede Stadium' 'Eden Gardens'
 'Sawai Mansingh Stadium' 'Rajiv Gandhi International Stadium, Uppal'
 'MA Chidambaram Stadium, Chepauk' 'Dr DY Patil Sports Academy' 'Newlands'
 "St George's Park" 'Kingsmead' 'SuperSport Park' 'Buffalo Park'
 'New Wanderers Stadium' 'De Beers Diamond Oval' 'OUTsurance Oval'
 'Brabourne Stadium' 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'Holkar Cricket Stadium'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Subrata Roy Sahara Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium'
 'Maharashtra Cricket Association Stadium'
 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Saurashtra Cricket Association Stadium' 'Green Park']


 column : bat_team

['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Mumbai Indians' 'Deccan Chargers' 'Kings XI Punjab'
 'Royal Challengers Bangalore' 'Delhi Daredevils' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant']


 column : bowl_team

['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Kolkata Knight Riders' 'Rajasthan Royals' 'Mumbai Indians'
 'Chennai Super Kings' 'Deccan Chargers' 'Pune Warriors'
 'Kochi Tuskers Kerala' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant']


 column : batsman

['SC Ganguly' 'BB McCullum' 'RT Ponting' 'DJ Hussey' 'Mohammad Hafeez'
 'PA Patel' 'ML Hayden' 'MEK Hussey' 'MS Dhoni' 'SK Raina' 'JDP Oram'
 'S Badrinath' 'T Kohli' 'YK Pathan' 'SR Watson' 'M Kaif' 'DS Lehmann'
 'RA Jadeja' 'M Rawat' 'D Salunkhe' 'SK Warne' 'SK Trivedi' 'L Ronchi'
 'ST Jayasuriya' 'DJ Thornely' 'RV Uthappa' 'PR Shah' 'AM Nayar'
 'SM Pollock' 'Harbhajan Singh' 'AC Gilchrist' 'Y Venugopal Rao'
 'VVS Laxman' 'A Symonds' 'RG Sharma' 'SB Styris' 'AS Yadav' 'SB Bangar'
 'WPUJC Vaas' 'RP Singh' 'K Goel' 'JR Hopes' 'KC Sangakkara'
 'DPMD Jayawardene' 'Yuvraj Singh' 'IK Pathan' 'S Sohal' 'B Lee'
 'PP Chawla' 'WA Mota' 'Shahid Afridi' 'RR Sarwan' 'S Sreesanth'
 'VRV Singh' 'S Chanderpaul' 'R Dravid' 'LRPL Taylor' 'JH Kallis'
 'V Kohli' 'MV Boucher' 'P Kumar' 'SB Joshi' 'Z Khan' 'R Vinay Kumar'
 'WP Saha' 'LR Shukla' 'AB Agarkar' 'M Kartik' 'I Sharma' 'AM Rahane'
 'DJ Bravo' 'MA Khote' 'G Gambhir' 'V Sehwag' 'S Dhawan' 'Shoaib Malik'
 'MK Tiwary' 'KD Karthik' 'R Bhatia' 'MF Maharoof' 'VY Mahesh' 'DB Das'
 'HH Gibbs' 'DNT Zoysa' 'D Kalyankrishna' 'GC Smith' 'SA Asnodkar'
 'Sohail Tanvir' 'SP Fleming' 'S Vidyut' 'JA Morkel' 'LPC Silva'
 'DB Ravi Teja' 'SE Marsh' 'YV Takawale' 'SS Tiwary' 'RR Raje'
 'Joginder Sharma' 'MS Gony' 'M Muralitharan' 'M Ntini' 'W Jaffer'
 'CL White' 'Misbah-ul-Haq' 'DT Patil' 'A Kumble' 'DW Steyn' 'S Anirudha'
 'MM Patel' 'AB de Villiers' 'A Chopra' 'BJ Hodge' 'T Taibu' 'Umar Gul'
 'PP Ojha' 'SP Goswami' 'B Akhil' 'Salman Butt' 'TM Dilshan' 'A Mishra'
 'J Arunkumar' 'Iqbal Abdulla' 'CK Kapugedera' 'LA Pomersbach'
 'Shoaib Akhtar' 'AB Dinda' 'SR Tendulkar' 'B Chipli' 'DR Smith'
 'SD Chitnis' 'Kamran Akmal' 'TM Srivastava' 'MK Pandey' 'RR Powar'
 'JP Duminy' 'JD Ryder' 'KP Pietersen' 'CH Gayle' 'MC Henriques'
 'A Flintoff' 'FH Edwards' 'PC Valthaty' 'RJ Quiney' 'AD Mascarenhas'
 'AS Raut' 'Pankaj Singh' 'RS Bopara' 'DL Vettori' 'M Manhas' 'PJ Sangwan'
 'MN van Wyk' 'AA Bilakhia' 'TL Suman' 'Shoaib Ahmed' 'GR Napier'
 'R Bishnoi' 'RE van der Merwe' 'KP Appanna' 'M Vijay' 'SB Jakati'
 'L Balaji' 'NV Ojha' 'LA Carseldine' 'RJ Harris' 'D du Preez'
 'DS Kulkarni' 'SM Harwood' 'Yashpal Singh' 'AN Ghosh' 'AD Mathews'
 'SM Katich' 'DA Warner' 'J Botha' 'A Nehra' 'Mashrafe Mortaza'
 'GJ Bailey' 'AB McDonald' 'Y Nagar' 'Niraj Patel' 'T Henderson' 'A Singh'
 'R Ashwin' 'T Thushara' 'Mohammad Ashraful' 'CA Pujara' 'OA Shah'
 'AP Tare' 'AT Rayudu' 'R Sathish' 'R McLaren' 'MS Bisla' 'YA Abdulla'
 'EJG Morgan' 'AA Jhunjhunwala' 'P Dogra' 'A Uniyal' 'KA Pollard'
 'MJ Lumb' 'DR Martyn' 'S Narwal' 'M Morkel' 'Anirudh Singh'
 'Jaskaran Singh' 'FY Fazal' 'AC Voges' 'MD Mishra' 'J Theron' 'R Sharma'
 'Mandeep Singh' 'KM Jadhav' 'SW Tait' 'PD Collingwood' 'VS Malik'
 'SJ Srivastava' 'AP Dole' 'Bipul Sharma' 'DE Bollinger' 'BAW Mendis'
 'B Sumanth' 'C Madan' 'AG Paunikar' 'AJ Finch' 'MR Marsh' 'STR Binny'
 'IR Jaggi' 'DT Christian' 'RV Gomez' 'UBT Chand' 'UT Yadav' 'Sunny Singh'
 'NJ Rimmington' 'MA Agarwal' 'AUK Pathan' 'AL Menaria' 'DJ Jacobs'
 'WD Parnell' 'TD Paine' 'SB Wagh' 'AC Thomas' 'BJ Haddin' 'NLTC Perera'
 'MS Wade' 'JE Taylor' 'RN ten Doeschate' 'SL Malinga' 'AG Murtaza'
 'TR Birt' 'Harpreet Singh' 'NL McCullum' 'DH Yagnik' 'AC Blizzard'
 'M Klinger' 'I Malhotra' 'A Mithun' 'P Parameswaran' 'AA Chavan'
 'ND Doshi' 'CJ Ferguson' 'B Kumar' 'S Rana' 'JEC Franklin'
 'Shakib Al Hasan' 'F du Plessis' 'SPD Smith' 'MN Samuels' 'KK Cooper'
 'HV Patel' 'Ankit Sharma' 'RE Levi' 'RR Bhatkal' 'Harmeet Singh'
 'BA Bhatt' 'CJ McKay' 'DJ Harris' 'N Saini' 'DA Miller' 'Azhar Mahmood'
 'A Ashish Reddy' 'V Pratap Singh' 'BB Samantray' 'RJ Peterson' 'S Nadeem'
 'VR Aaron' 'MJ Clarke' 'AP Majumdar' 'Gurkeerat Singh' 'P Awana'
 'SP Narine' 'A Chandila' 'PA Reddy' 'MC Juneja' 'AD Russell' 'KK Nair'
 'KB Arun Karthik' 'GH Vihari' 'MDKJ Perera' 'R Shukla' 'JD Unadkat'
 'M Vohra' 'JP Faulkner' 'R Rampaul' 'BJ Rohrer' 'Q de Kock' 'KV Sharma'
 'SMSM Senanayake' 'LJ Wright' 'X Thalaivan Sargunam' 'DJG Sammy'
 'MG Johnson' 'A Mukund' 'SV Samson' 'BMAJ Mendis' 'KL Rahul' 'CM Gautam'
 'KW Richardson' 'Parvez Rasool' 'GJ Maxwell' 'R Dhawan' 'SA Yadav'
 'CJ Anderson' 'JJ Bumrah' 'CA Lynn' 'MA Starc' 'AR Patel'
 'Sandeep Sharma' 'BR Dunk' 'Shivam Sharma' 'LMP Simmons' 'VH Zol'
 'BCJ Cutting' 'Mohammed Shami' 'BE Hendricks' 'S Gopal' 'M de Lange'
 'RR Rossouw' 'JO Holder' 'JDS Neesham' 'Imran Tahir' 'MM Sharma'
 'DJ Hooda' 'CH Morris' 'SS Iyer' 'SA Abbott' 'AN Ahmed' 'YS Chahal'
 'J Suchith' 'P Negi' 'RG More' 'Anureet Singh' 'HH Pandya'
 'NM Coulter-Nile' 'PV Tambe' 'MJ McClenaghan' 'DJ Muthuswami' 'SN Thakur'
 'SN Khan' 'D Wiese' 'S Aravind' 'JC Buttler' 'CR Brathwaite' 'MP Stoinis'
 'C Munro' 'P Sahu' 'KH Pandya' 'TG Southee' 'MJ Guptill' 'KJ Abbott'
 'TM Head' 'AD Nath' 'NS Naik' 'Ishan Kishan' 'SW Billings' 'RR Pant'
 'KS Williamson' 'KC Cariappa' 'PSP Handscomb' 'Sachin Baby' 'J Yadav'
 'UT Khawaja' 'HM Amla' 'BB Sran' 'N Rana' 'F Behardien' 'ER Dwivedi'
 'JJ Roy' 'BA Stokes' 'Vishnu Vinod' 'TS Mills' 'Basil Thampi' 'CR Woakes'
 'V Shankar' 'Rashid Khan' 'RA Tripathi' 'RD Chahar' 'LH Ferguson'
 'C de Grandhomme' 'PJ Cummins' 'Mohammad Nabi' 'Kuldeep Yadav'
 'Washington Sundar' 'S Badree' 'A Choudhary' 'AR Bawne' 'AJ Tye'
 'Ankit Soni' 'K Rabada' 'AF Milne' 'SP Jackson' 'Swapnil Singh'
 'R Tewatia' 'AS Rajpoot']


 column : bowler

['P Kumar' 'Z Khan' 'AA Noffke' 'JH Kallis' 'SB Joshi' 'CL White' 'B Lee'
 'S Sreesanth' 'JR Hopes' 'IK Pathan' 'K Goel' 'PP Chawla' 'WA Mota'
 'GD McGrath' 'B Geeves' 'MF Maharoof' 'R Bhatia' 'DL Vettori'
 'R Vinay Kumar' 'B Akhil' 'AB Dinda' 'I Sharma' 'AB Agarkar' 'M Kartik'
 'Mohammad Hafeez' 'DJ Hussey' 'MM Patel' 'SR Watson' 'SK Trivedi'
 'SK Warne' 'D Salunkhe' 'Pankaj Singh' 'YK Pathan' 'Mohammad Asif'
 'VY Mahesh' 'SM Pollock' 'A Nehra' 'DS Kulkarni' 'Harbhajan Singh'
 'DJ Bravo' 'VS Yeligati' 'AM Nayar' 'MA Khote' 'Sohail Tanvir' 'JDP Oram'
 'MS Gony' 'P Amarnath' 'M Muralitharan' 'Joginder Sharma' 'RP Singh'
 'DNT Zoysa' 'SB Bangar' 'Shahid Afridi' 'PP Ojha' 'D Kalyankrishna'
 'VRV Singh' 'Yuvraj Singh' 'DW Steyn' 'CRD Fernando' 'ST Jayasuriya'
 'V Kohli' 'Gagandeep Singh' 'Umar Gul' 'SC Ganguly' 'LR Shukla'
 'PJ Sangwan' 'Shoaib Malik' 'V Sehwag' 'A Kumble' 'DP Vijaykumar'
 'SB Styris' 'RR Raje' 'JA Morkel' 'L Balaji' 'CK Kapugedera' 'DR Smith'
 'WPUJC Vaas' 'Y Venugopal Rao' 'AD Mascarenhas' 'A Mishra' 'DJ Thornely'
 'PM Sarvesh Kumar' 'Abdur Razzak' 'TM Dilshan' 'SD Chitnis' 'M Ntini'
 'RR Powar' 'SK Raina' 'BAW Mendis' 'T Thushara' 'A Flintoff'
 'Kamran Khan' 'T Henderson' 'FH Edwards' 'Harmeet Singh' 'KP Pietersen'
 'LRPL Taylor' 'JD Ryder' 'Anureet Singh' 'CH Gayle' 'RR Bose'
 'YA Abdulla' 'RS Bopara' 'SL Malinga' 'DP Nannes' 'RG Sharma'
 'Shoaib Ahmed' 'BJ Hodge' 'RA Jadeja' 'RE van der Merwe' 'KP Appanna'
 'JP Duminy' 'SR Tendulkar' 'VS Malik' 'SM Harwood' 'AS Raut' 'D du Preez'
 'RJ Harris' 'TL Suman' 'A Singh' 'M Morkel' 'LA Carseldine' 'S Tyagi'
 'SB Jakati' 'A Mithun' 'AM Rahane' 'A Symonds' 'C Nanda' 'J Botha'
 'CK Langeveldt' 'SS Sarkar' 'AM Salvi' 'Jaskaran Singh' 'SW Tait'
 'A Uniyal' 'AA Jhunjhunwala' 'AD Mathews' 'RS Gavaskar' 'R Ashwin'
 'JM Kemp' 'S Ladda' 'SE Bond' 'SJ Srivastava' 'Bipul Sharma' 'Y Nagar'
 'UT Yadav' 'MC Henriques' 'R McLaren' 'J Theron' 'S Narwal' 'AC Voges'
 'KAJ Roach' 'KA Pollard' 'C Ganapathy' 'SB Wagh' 'R Sharma' 'AN Ahmed'
 'R Sathish' 'AP Dole' 'FY Fazal' 'PD Collingwood' 'MR Marsh' 'L Ablish'
 'S Sriram' 'AB McDonald' 'DE Bollinger' 'JD Unadkat' 'MK Tiwary'
 'ND Doshi' 'Iqbal Abdulla' 'AL Menaria' 'STR Binny' 'AUK Pathan'
 'AG Murtaza' 'JEC Franklin' 'AC Thomas' 'WD Parnell' 'M Manhas'
 'DT Christian' 'DB Ravi Teja' 'BA Bhatt' 'JJ van der Wath' 'S Aravind'
 'R Ninan' 'Shakib Al Hasan' 'NLTC Perera' 'RV Gomez' 'PC Valthaty'
 'S Nadeem' 'S Randiv' 'J Syed Mohammad' 'NL McCullum' 'JE Taylor'
 'KMDN Kulasekara' 'TG Southee' 'P Parameswaran' 'S Dhawan' 'B Kumar'
 'AA Kazi' 'VR Aaron' 'P Prasanth' 'Y Gnaneswara Rao' 'AA Chavan'
 'RW Price' 'GJ Maxwell' 'JP Faulkner' 'DAJ Bracewell' 'Ankit Sharma'
 'DJ Harris' 'TP Sudhindra' 'SP Narine' 'HV Patel' 'KK Cooper' 'GB Hogg'
 'P Awana' 'MN Samuels' 'AD Russell' 'Azhar Mahmood' 'A Chandila' 'P Negi'
 'RJ Peterson' 'CJ McKay' 'R Shukla' 'MJ Clarke' 'V Pratap Singh'
 'A Ashish Reddy' 'BW Hilfenhaus' 'K Upadhyay' 'Sunny Gupta' 'MG Johnson'
 'JJ Bumrah' 'AS Rajpoot' 'B Laughlin' 'GH Vihari' 'Mohammed Shami'
 'BMAJ Mendis' 'CH Morris' 'Anand Rajan' 'AJ Finch' 'MM Sharma'
 'KV Sharma' 'SMSM Senanayake' 'R Rampaul' 'R Dhawan' 'JO Holder'
 'IC Pandey' 'LJ Wright' 'S Kaul' 'YS Chahal' 'KW Richardson' 'DJG Sammy'
 'Sandeep Sharma' 'PV Tambe' 'Parvez Rasool' 'RN ten Doeschate' 'MG Neser'
 'NM Coulter-Nile' 'CJ Anderson' 'MA Starc' 'AR Patel' 'JDS Neesham'
 'M Vijay' 'SA Yadav' 'S Badree' 'R Tewatia' 'V Shankar' 'Imran Tahir'
 'Shivam Sharma' 'S Rana' 'BE Hendricks' 'PJ Cummins' 'K Santokie'
 'S Gopal' 'Karanveer Singh' 'DJ Muthuswami' 'TA Boult' 'SA Abbott'
 'DJ Hooda' 'P Suyal' 'J Suchith' 'D Wiese' 'MJ McClenaghan' 'HH Pandya'
 'RG More' 'GS Sandhu' 'M de Lange' 'J Yadav' 'Gurkeerat Singh' 'M Ashwin'
 'JW Hastings' 'C Munro' 'Mustafizur Rahman' 'CR Brathwaite' 'KJ Abbott'
 'P Sahu' 'BB Sran' 'KH Pandya' 'S Kaushik' 'T Shamsi' 'MP Stoinis'
 'Swapnil Singh' 'SM Boland' 'CJ Jordan' 'KC Cariappa' 'A Zampa'
 'BCJ Cutting' 'DL Chahar' 'KS Williamson' 'Kuldeep Yadav' 'TS Mills'
 'A Choudhary' 'TM Head' 'BA Stokes' 'CR Woakes' 'T Natarajan'
 'Rashid Khan' 'C de Grandhomme' 'Basil Thampi' 'AJ Tye' 'AF Milne'
 'K Rabada' 'Washington Sundar' 'SN Thakur' 'SS Agarwal' 'NB Singh'
 'Ankit Soni' 'Mohammad Nabi' 'Mohammed Siraj' 'LH Ferguson']

In [21]:
from sklearn.preprocessing import LabelEncoder
# Initialize the encoder
label_encoder = LabelEncoder()

for i in categorical_columns:
    print(f'\n\n column : {i}\n')
    df1[i] = label_encoder.fit_transform(df1[i])

df1.head()

 column : venue



 column : bat_team



 column : bowl_team



 column : batsman



 column : bowler

,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,14,6,12,328,201,1,0,0.1,1,0,222
1,14,6,12,61,201,1,0,0.2,1,0,222
2,14,6,12,61,201,2,0,0.2,2,0,222
3,14,6,12,61,201,2,0,0.3,2,0,222
4,14,6,12,61,201,2,0,0.4,2,0,222

In [25]:
# Calculate Pearson correlation
df1.corr()

,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,total
venue,1.000000,0.103630,0.071646,-0.027037,-0.033572,-0.017332,0.001760,0.001402,-0.021245,-0.000673,-0.036385
bat_team,0.103630,1.000000,-0.101522,-0.012580,-0.009857,-0.002888,-0.028283,0.001484,0.004459,-0.016499,0.031833
bowl_team,0.071646,-0.101522,1.000000,-0.031347,-0.010827,-0.006677,-0.006456,-0.002832,-0.011057,0.005044,-0.048799
batsman,-0.027037,-0.012580,-0.031347,1.000000,0.011971,-0.024235,-0.026637,-0.030487,-0.005954,-0.006262,0.017128
bowler,-0.033572,-0.009857,-0.010827,0.011971,1.000000,-0.007129,0.003172,-0.001981,0.001554,0.007072,-0.011267
runs,-0.017332,-0.002888,-0.006677,-0.024235,-0.007129,1.000000,0.591007,0.938154,0.750565,0.297768,0.254498
wickets,0.001760,-0.028283,-0.006456,-0.026637,0.003172,0.591007,1.000000,0.755240,0.242942,0.693740,-0.337343
overs,0.001402,0.001484,-0.002832,-0.030487,-0.001981,0.938154,0.755240,1.000000,0.629374,0.382850,0.022282
runs_last_5,-0.021245,0.004459,-0.011057,-0.005954,0.001554,0.750565,0.242942,0.629374,1.000000,0.058672,0.368253
wickets_last_5,-0.000673,-0.016499,0.005044,-0.006262,0.007072,0.297768,0.693740,0.382850,0.058672,1.000000,-0.273475
total,-0.036385,0.031833,-0.048799,0.017128,-0.011267,0.254498,-0.337343,0.022282,0.368253,-0.273475,1.000000

In [40]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler


# Initialize the scaler
scaler_min_max = MinMaxScaler()

# Initialize the scaler
scaler_stc = StandardScaler()

# Fit and transform the data
df1[numerical_columns] = scaler_stc.fit_transform(df1[numerical_columns])
df1[categorical_columns] = scaler_min_max.fit_transform(df1[categorical_columns])

df1.head()

,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,0.411765,0.461538,0.923077,0.80000,0.612805,-1.513413,-1.198815,-1.677434,-2.160136,-1.06358,222
1,0.411765,0.461538,0.923077,0.14878,0.612805,-1.513413,-1.198815,-1.660110,-2.160136,-1.06358,222
2,0.411765,0.461538,0.923077,0.14878,0.612805,-1.492930,-1.198815,-1.660110,-2.093085,-1.06358,222
3,0.411765,0.461538,0.923077,0.14878,0.612805,-1.492930,-1.198815,-1.642787,-2.093085,-1.06358,222
4,0.411765,0.461538,0.923077,0.14878,0.612805,-1.492930,-1.198815,-1.625464,-2.093085,-1.06358,222

In [42]:
X = df1.drop('total', axis=1)
y = df1['total']
X.head()

,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5
0,0.411765,0.461538,0.923077,0.80000,0.612805,-1.513413,-1.198815,-1.677434,-2.160136,-1.06358
1,0.411765,0.461538,0.923077,0.14878,0.612805,-1.513413,-1.198815,-1.660110,-2.160136,-1.06358
2,0.411765,0.461538,0.923077,0.14878,0.612805,-1.492930,-1.198815,-1.660110,-2.093085,-1.06358
3,0.411765,0.461538,0.923077,0.14878,0.612805,-1.492930,-1.198815,-1.642787,-2.093085,-1.06358
4,0.411765,0.461538,0.923077,0.14878,0.612805,-1.492930,-1.198815,-1.625464,-2.093085,-1.06358

In [43]:
from sklearn.model_selection import train_test_split
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.17, random_state=42)

# Print the shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (63091, 10)
X_test shape: (12923, 10)
y_train shape: (63091,)
y_test shape: (12923,)

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Initialize and train the model
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

# Make predictions
y_pred = linear_model.predict(X_test)

print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R^2 Score:", r2_score(y_test, y_pred))
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)

Mean Squared Error: 404.2061164845682
R^2 Score: 0.5274192028691873

14.81066093771311

In [50]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
import numpy as np
# Initialize the models
ridge_model = Ridge(alpha=1.0)
lasso_model = Lasso(alpha=0.1)
forest_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the models
ridge_model.fit(X_train, y_train)
lasso_model.fit(X_train, y_train)
forest_model.fit(X_train, y_train)

# Make predictions
y_pred_ridge = ridge_model.predict(X_test)
y_pred_lasso = lasso_model.predict(X_test)
y_pred_forest = forest_model.predict(X_test)

# Calculate evaluation metrics for Ridge Regression
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
rmse_ridge = np.sqrt(mse_ridge)
mae_ridge = mean_absolute_error(y_test, y_pred_ridge)
r2_ridge = r2_score(y_test, y_pred_ridge)

print("\nRidge Regression Metrics:")
print("Mean Squared Error (MSE):", mse_ridge)
print("Root Mean Squared Error (RMSE):", rmse_ridge)
print("Mean Absolute Error (MAE):", mae_ridge)
print("R-squared (R):", r2_ridge)

# Calculate evaluation metrics for Lasso Regression
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
rmse_lasso = np.sqrt(mse_lasso)
mae_lasso = mean_absolute_error(y_test, y_pred_lasso)
r2_lasso = r2_score(y_test, y_pred_lasso)

print("\nLasso Regression Metrics:")
print("Mean Squared Error (MSE):", mse_lasso)
print("Root Mean Squared Error (RMSE):", rmse_lasso)
print("Mean Absolute Error (MAE):", mae_lasso)
print("R-squared (R):", r2_lasso)

# Calculate evaluation metrics for Random Forest Regression
mse_forest = mean_squared_error(y_test, y_pred_forest)
rmse_forest = np.sqrt(mse_forest)
mae_forest = mean_absolute_error(y_test, y_pred_forest)
r2_forest = r2_score(y_test, y_pred_forest)

print("\nRandom Forest Regression Metrics:")
print("Mean Squared Error (MSE):", mse_forest)
print("Root Mean Squared Error (RMSE):", rmse_forest)
print("Mean Absolute Error (MAE):", mae_forest)
print("R-squared (R):", r2_forest)

Ridge Regression Metrics:
Mean Squared Error (MSE): 404.20824291161205
Root Mean Squared Error (RMSE): 20.104930810913327
Mean Absolute Error (MAE): 14.810704831851274
R-squared (R): 0.5274167167400903

Lasso Regression Metrics:
Mean Squared Error (MSE): 405.3379926276241
Root Mean Squared Error (RMSE): 20.133007540544558
Mean Absolute Error (MAE): 14.830530737991358
R-squared (R): 0.5260958608708256

Random Forest Regression Metrics:
Mean Squared Error (MSE): 49.52263439271927
Root Mean Squared Error (RMSE): 7.037232012142222
Mean Absolute Error (MAE): 3.9815025406897266
R-squared (R): 0.9421002179757402